<ion-content>
  <div class="grad">
    <div class="big-logo"></div>
    <h2>Самое время перестать класть хуй на себя</h2>
    <h3>Найди своего психолога</h3>
  </div>
  <div class="menu-string">
    <div class="menu">
      <span [routerLink]="['/home/about']">about</span>
      <span [routerLink]="['/company']">companies</span>
    </div>
    <div class="btns">
      <ion-button fill="outline" shape="round" (click)="help()">
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>
      <ion-button fill="outline" shape="round" (click)="searchForm()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>