<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="good;else loading">{{good.name}}</ion-title>
    <ng-template #loading>
      <ion-icon color="light" name="timer"></ion-icon>
    </ng-template>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="workdays; else loading2">
  <ion-row>
    <ion-col size="2" offset-sm="5" class="arrow-column">
      <ion-icon name="arrow-dropleft" size="large" (click)="previous()" *ngIf="previousIsVisible"></ion-icon>
    </ion-col>
    <ion-col size="10" size-sm="1" size-md="1" size-lg="1" size-xl="1" class="arrow-column">
      <ion-icon name="arrow-dropright" size="large" (click)="next()" *ngIf="nextIsVisible"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-sm="11" size-md="10" offset-md="1" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
      <ion-card text-center>
        <ion-card-header color="tertiary">
          <ion-card-subtitle>{{month.y}}</ion-card-subtitle>
          <ion-card-title>{{month.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="calendar">
            <div class="date space" *ngFor="let s of beginSpaces"></div>
            <div [ngClass]="{date: true, busy: d.isBusy, today: d.isToday}" *ngFor="let d of dates"
              [routerLink]="[d.route]">
              {{d.n}}</div>
            <div class="date space" *ngFor="let s of finalSpaces"></div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

<ng-template #loading2>
  <div [ngStyle]="{height: '100%'}">
    <ion-progress-bar color="tertiary" type="indeterminate"></ion-progress-bar>
  </div>
</ng-template>