<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Подтверждение записи
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form *ngIf="form;else loading" [formGroup]="form" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="stacked">Введите полученный код</ion-label>
      <ion-input formControlName="code" type="text" clearInput="true" maxlength="6"></ion-input>
    </ion-item>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button expand="full" color="tertiary" fill="solid" type="submit" [disabled]="form.invalid">
          <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
          Подтвердить
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </form>
</ion-content>

<ng-template #loading>
  <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
</ng-template>