<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <h3> Somthing about... </h3>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nobis illum autem perspiciatis, deleniti ut earum
    amet dolorum? Pariatur, voluptatibus. Quas velit ullam architecto voluptates ipsa facere officiis natus vitae!Odio
    harum incidunt aut sapiente? Sint facere ad doloremque veritatis asperiores ipsam ipsum? Sint, suscipit sed! Iusto
    dicta laboriosam ab facilis vitae at earum porro esse repellendus, quos distinctio perferendis?</p>
</ion-content>